/******************  About Page Styles ***************/
/* Fil Gambatesa - 2019  */


/******************  Picture and About Text ***************/

.bio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-top: 0;
    margin-left: 0;
}

.my-photo-lg {
    flex: 1;
    flex-basis: 384px;
}

#userpic {
    background-size: cover;
    background: url("https://via.placeholder.com/800x500.png") no-repeat center;
    width: 100%;
    height: 100%;
    margin: 0;

}

.about-me-text {
    flex: 1;
    flex-basis: 384px;
    background-color: #fcfcfc;
}

.about-me-title {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #333333;
    line-height: 1.25em;
    font-size: 12px;
    padding-top: 100px;
    padding-left: 40px;
}

.about-me-name {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #333333;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 10px;

}

.about-me-content{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333333;
    line-height: 1.5em;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;

}

/*TODO - Make this a generic button style and move to main.css*/
.download-cv-btn {
    display:block;
    border: 2px solid orange;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 40px;
    line-height: 36px;
    color: #343434;
}

.download-cv-btn:hover {
    color: white;
    background-color: orange;
}

/******************  What I Do Sub-Section ***************/
.about-sub-section {
    display:block;
    position:relative;
    left:50px;
}

/*TODO move style to main.css*/
.section-title {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #333333;
    line-height: 1.5em;
    font-size: 21px;
    padding: 30px 0 20px 0;
    text-decoration: underline;
    text-decoration-color: orange;
}

/* styles used to define grid layout */
.what-I-do-grid {
    display: grid;
    left: 30px;
    grid-template-columns: 50px 1fr 50px 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr;
    grid-template-areas:
            "icon1 subtitl1 icon2 subtitl2"
            "..... content1 ..... content2"
            "icon3 subtitl3 icon4 subtitl4"
            "..... content3 ..... content4";
    grid-row-gap: 10px;
}

/* define grid areas */
#icon1 {grid-area:icon1;}
#icon2 {grid-area:icon2;}
#icon3 {grid-area:icon3;}
#icon4 {grid-area:icon4;}
#subtitl1 {grid-area:subtitl1;}
#subtitl2 {grid-area:subtitl2;}
#subtitl3 {grid-area:subtitl3;}
#subtitl4 {grid-area:subtitl4;}
#content1 {grid-area:content1;}
#content2 {grid-area:content2;}
#content3 {grid-area:content3;}
#content4 {grid-area:content4;}

/* styles for grid content */
.subtitle {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #333333;
    line-height: 1.5em;
    align-self: center;
    padding-left: 20px;

}

.content {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #666;
    line-height: 1em;
    font-size: .9em;
    padding-left: 20px;
}

.icon {
    font-size:40px;
    justify-self: left;
    color: lightgray;

}

.testimonial {
    background-color: #fdfdfd;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-right: 20px;
    padding:10px;
    width: 80%;
    height: auto;
}

/******************  Testimonials Sub-Section ***************/
.testimonial-text {
    color: #666;
}

.contributor {
    font-family: 'Roboto', Helvetica, sans-serif;
    color:#222;
    font-weight:900;
    font-size:1.15em;
    padding-left: 10px;
}

.contributor-company {
    color: #666;
    font-weight: 400;
    font-size:.9em;
    padding-left: 10px;
}