/**** Styles About Me Image and Text ****/
/* Fil Gambatesa - 2019 */

/***** Bio Info Sub-Section *****/

.bio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    top: 0;
    left: 0;
}

.my-photo-lg {
    flex: 50%;
}

#userpic {
    background-size: cover;
    background: url("https://via.placeholder.com/600x500.png") no-repeat center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.about-me-text {
    flex: 50%;
    background-color: #fcfcfc;
}

.about-me-title {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #333333;
    line-height: 1.25em;
    font-size: 12px;
    padding-top: 100px;
    padding-left: 40px;
}

.about-me-name {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #333333;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 10px;

}

.about-me-content{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333333;
    line-height: 1.5em;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;

}

.download-cv-btn {
    display:block;
    border: 2px solid orange;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 40px;
    line-height: 36px;
    color: #343434;
}

.download-cv-btn:hover {
    color: white;
    background-color: orange;
}

/***** what-I-do sub-section styles *****/
.what-I-do {
    display:block;
    position:relative;
    left:50px;
}

.section-title {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #333333;
    line-height: 1.5em;
    font-size: 25px;
    padding: 30px 0 20px 0;
    text-decoration: underline;
    text-decoration-color: orange;
}

/* styles used to define grid layout */
.what-I-do-grid {
    display: grid;
    left: 30px;
    grid-template-columns: 50px 1fr 50px 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr;
    grid-template-areas:
            "icon1 subtitl1 icon2 subtitl2"
            "..... content1 ..... content2"
            "icon3 subtitl3 icon4 subtitl4"
            "..... content3 ..... content4";
    grid-row-gap: 10px;
}

/* define grid areas */
#icon1 {grid-area:icon1;}
#icon2 {grid-area:icon2;}
#icon3 {grid-area:icon3;}
#icon4 {grid-area:icon4;}
#subtitl1 {grid-area:subtitl1;}
#subtitl2 {grid-area:subtitl2;}
#subtitl3 {grid-area:subtitl3;}
#subtitl4 {grid-area:subtitl4;}
#content1 {grid-area:content1;}
#content2 {grid-area:content2;}
#content3 {grid-area:content3;}
#content4 {grid-area:content4;}

/* styles for grid content */
.subtitle {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #333333;
    line-height: 1.5em;
    align-self: center;
    padding-left: 20px;

}

.content {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #666;
    line-height: 1em;
    font-size: .9em;
    padding-left: 20px;
}

.icon {
    font-size:40px;
    justify-self: left;
    color: lightgray;

}