@charset "UTF-8";
/******************  Common Styles ***************/
/* Fil Gambatesa - 2019  */

/* defaults.css must be loaded first */

@import 'defaults.css';
@import 'menu.css';
@import 'about.css';
@import 'contact.css';
@import 'resume.css';
@import 'portfolio.css';

/* Developement Classes */
/*TODO add back display:none; and create js script to manage*/
.hide-section {

}

/*TODO look into changing the default style for the scroll bars*/

/******** Styles Common Across All Pages *********/

/* styles that apply to entire page */


.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.main {
    display:block;
    position:absolute;
    top:0;
    left:200px;
    overflow-y:auto;
    overflow-x:hidden;
    width: calc(100% - 200px);
    background-color: white;
    height: 100%;
}

/******** Headings and Titles *********/

.page-title {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 8px;
    border-bottom: 2px solid #eee;
}

.section-title {
    padding: 30px 0 20px 0;
    text-decoration: underline;
    text-decoration-color: orange;
}

/******** Buttons *********/
.btn-orange {
    display:block;
    border: 2px solid orange;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 40px;
    line-height: 36px;
    color: #343434;
    background-color:white;
}

.btn-orange:hover {
    color: white;
    background-color: orange;
}



/*************************  media queries ************************/



/* redefine grid for mobile view */

@media screen and (max-width:600px) {

    /* Contact Page - Mobile View*/
    .input-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
                "name"
                "email"
                "subject"
                "message";
        grid-row-gap: 10px;
        margin:0;
        padding:0;
    }

    .form-control {
        margin-right: 0px;
    }

    .contact-message {
        height: 150px;
    }

  .what-I-do-grid {
    display: grid;
    left: 5px;
    grid-template-columns: 50px 1fr ;
    grid-template-rows: repeat(4, 1fr 1.5fr) ;
    grid-template-areas:
            "icon1 subtitl1"
            "..... content1"
            "icon2 subtitl2"
            "..... content2"
            "icon3 subtitl3"
            "..... content3"
            "icon4 subtitl4"
            "..... content4";
    grid-row-gap: 10px;
  }

}

/* show mobile header for small screens */
@media screen and (max-width: 768px){
  .about-me-title {margin-top: 0; padding-top: 10px;}
  .my-photo-lg {min-height:300px;}
    #resume-container{
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }

    #resume-left-side {
        display:block;
        width:100%;
        height:auto;
        padding-right:0;
    }

    #resume-right-side {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        width:100%;
        height:auto;
        border-top: 1px solid #eee;
    }

    .languages, .architecture, .cloud-services, .frameworks {
        flex-basis: 150px;
    }

    #portfolio-container{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        margin-left:50px;
        margin-right:50px;
        margin-top:30px;
    }

    .portfolio-item-description {
        position:relative;
        margin-top: 35px;
        padding-right: 0;
    }

    .portfolio-figure{
        margin: 10px 0 20px;
        border:none;
        display: flex;
        flex-direction:row;
        justify-content: center;
        width:100%;

    }

}

@media screen and (max-width: 1000px){
  .mobile-visible {display:inline-block;}
  .hide-when-mobile {left:-180px;}
  .main {top:50px; left:0; width:100%;}
}

/* show side menu for large screens */
@media screen and (min-width: 1000px) {
  .hide-when-mobile {display: block;}
  .mobile-visible {display: none;}
  .main{top:0;left:200px;}
}

@media screen and (max-width: 414px) {
    #resume-container, #portfolio-container, #about, .what-I-do-grid, .about-sub-section, .page-title {
        margin-left: 10px;
        margin-right: 10px;
    }

    /*Contact page info boxes*/
    .info-boxes {
        flex-direction: column;
    }

    .info-box {
        flex-basis: 100px;
    }

    /*Skills and Languages*/
    #resume-right-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 10px;
    }

    /*Center bio-container info and btn*/
    .download-cv-btn {
        margin: 30px auto 30px auto;
    }

    .about-me-name {
        margin-top: 20px;
    }

    /*Center Owlcarousel content*/
    .testimonial {
        margin: 0px auto;
    }

    .contributor, .contributor-company {
        margin-left: 30px;
    }

    /* Center Send Message Button */
    .submit-email-btn {
        margin: 10px auto 20px auto;
    }
}