#jQuery Dev Library
# js/jquery-3.4.1.js

#WebStorm configuration files
.idea/workspace.xml
/.idea

# ignore font awesome files when pushing to production
/webfonts
css/all.css
css/all.min.css

# OS created files
.DS_Store

# Ignore the caddy webserver file
Caddyfile

# Files used during development
lazy_git
.features_and_tasks.html
.features_and_tasks.css
