#WebStorm configuration files
.idea/workspace.xml
/.idea

# ignore font awesome files when pushing to production
/webfonts
css/all.css
css/all.min.css

# OS created files
.DS_Store

# Ignore the caddy webserver file
Caddyfile
